*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Fraunces 9pt";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

::before{
    content: "";
    background-size: contain;
}