.footer {
    margin-top: 200px;
}

.footer__container {
    background: #2C343E;
    height: 120px;
}

.footer__wrapper {
    display: flex;
}

.footer__nav {
    padding: 48px 0;
    margin-right: auto;
}

.footer__img {
    padding: 47px 0 47px 140px;
}

.footer__list {
    list-style: none;
    display: flex;
    margin-left: 102px;
}

.footer__list a {
    text-decoration: none;
    color: #83888F;
}

.footer__nav-list {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-left: 32px;
}

.footer__nav-link {
    @include font;

    &:hover {
        color: #fff;
        text-decoration: underline;
        font-weight: 500;
    }
}
.footer__item a img{
    padding-left: 24px;
}


.footer__picters {

    &:hover {
        // text-decoration: underline;
    }
}

.footer__wrapp {
    padding: 55px;
    margin-right: 85px;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 1280px) {
    .footer {
        margin-top: 140px;
    }
    .footer__img{
        padding-bottom: 10px;
    }

    .footer__container {
        height: 270px;
    }

    .footer__wrapper {
        // width: 283px;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 90px;

    }

    .footer__links {
        // height: 26px;
    }

    .footer__list {
        // width: 320px;
        text-align: center;
        // padding-top: 32px;
        padding-left: 15px;
    }

    .footer__wrapp {
        display: flex;
        // margin-top: -55px;
        // margin-left: 45%;
        margin-left: 175px;
        padding: 0;
        padding-top: 30px;
    }

    .footer__nav {
        padding: 0;
    }
}

@media screen and (max-width: $mobile) {

    .footer__links {

    }
    .footer__img{
        padding: 0;
        padding-top: 40px;
        text-align: center;
        padding-bottom: 25px;
        margin-left: -45px;
    }

    .footer__list {
        // width: 122px;
        flex-direction: column;
        // margin-left: -30px;
        // text-align: center;
        align-items: center;
    }
    .footer__nav-link{
        // width: 64px;
        font-size: 12px;
    }
    .footer__list{
        margin: 0;
        padding: 0;
    }
    .footer__nav-list{
        padding-bottom: 20px;

        &:nth-child(2){
            // width: 64px;
        }

        &:last-child{
            // width: 121px;
        }
    }
    .footer__wrapp{
        margin: 0;
        padding-top: 10px;
        margin-left: -12px;
    }
}