.footer {
    margin-top: 200px;
}

.footer__container {
    background: #2C343E;
    height: 120px;
}

.footer__wrapper {
    display: flex;
}

.footer__nav {
    padding: 48px 0;
    margin-right: auto;
}

.footer__img {
    padding: 47px 0 47px 140px;
}

.footer__list {
    list-style: none;
    display: flex;
    margin-left: 102px;
}

.footer__list a {
    text-decoration: none;
    color: #83888F;
}

.footer__nav-list {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-left: 32px;
}

.footer__nav-link{
    @include font;

    &:hover {
        color: #fff;
        text-decoration: underline;
        font-weight: 500;
    }
}


.footer__picters {
    padding-left: 24px;

    &:hover {
        color: #fff;
        text-decoration: underline;
    }
}

.footer__wrapp {
    padding: 55px;
    margin-right: 85px;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .footer{
        margin-top: 140px;
    }
    .footer__container{
        height: 270px;
    }
    .footer__wrapper{
        width: 283px;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 90px;

    }
    .footer__links{
        width: 236px;
        height: 26px;
        padding-top: 24px;
    }
    .footer__list{
        width: 320px;
        text-align: center;
        padding-top: 32px;
    }
    .footer__wrapp{
        display: flex;
        margin-top: -55px;
        margin-left: 45%;
    }
    .footer__nav{
        margin-left: -20px;
        width: 283px;
        padding-right: 32px;
    }
}