.main {
    margin-top: 50px;
}

.main__container {
    background: url("../../img/desktop.jpg") no-repeat center center;
    background-size: cover;
}

.main__subject {
    color: #fff;
    width: 412px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    margin-bottom: 32px;
}

.main__snippet {
    padding-top: 100px;
    padding-left: 169px;
    padding-bottom: 110px;
}

.main__text {
    color: #fff;
    width: 398px;
    margin-bottom: 56px;
    @include font;
    opacity: 0.6;
}

.main__link {
    text-decoration: none;
    color: #fff;
    background-color: #0E8784;
    padding: 15px 31px;
    margin-top: 40px;
    display: block;
    width: 217px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    margin-left: 0;

    &:hover {
        color: #FEFCF7;
        background-color: #66D2CF;
    }
}

.main__snippet-text {
    width: 1170px;
    color: #83888F;
    font-size: 160px;
    font-weight: 900;
    text-align: center;
    margin-bottom: -125px;
    line-height: 130px;
    opacity: 1;
    position: relative;
    background: linear-gradient(#adadad, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main__content {
    background-color: transparent;
    position: relative;
    text-align: center;
}

.main__list {
    list-style: none;
    display: flex;
    text-align: center;
    padding-left: 40px;
    margin-top: 250px;
    flex-wrap: wrap;
}

.main-list__item {
    width: 255px;
    margin-left: 25px;
    margin-top: -180px;
    display: flex;
    flex-direction: column-reverse;
}

.main-list__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    order: 2;
}

.main-list__snippet {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    @include font;
}

.main-item__pic {
    order: 3;
    z-index: 2;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .main__container {
        background: url("../../img/hero-bg-tablet.jpg") no-repeat center center;
        background-size: cover;
    }

    .main-list__snippet {
        margin-left: 192px;
        width: 282px;
        margin-top: -10px;

    }

    .main__snippet {
        margin-left: -109px;
    }

    .main-list__title {
        margin-left: 192px;
        width: 282px;
    }

    .main__snippet-text {
        width: 686px;
        font-size: 105px;
        line-height: 72px;

    }

    .main__list {
        flex-direction: column;
        margin-top: 45%;
        width: 689px;
        margin-left: 90px;
    }

    .main-list__item {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 240px;


        &:nth-child(4) {
            margin-bottom: 144px;
        }
    }

    .main-item__pic {
        margin-right: -190px;
        width: 282px;

        &:last-child {
            margin-top: -10px;
        }
    }

    .main__content-wrap {
        display: flex;
        flex-direction: column-reverse;
        width: 282px;
        text-align: left;
        height: 106px;
        padding-left: 25px;
    }
}

@media screen and (max-width: $mobile) {
    .main__container {
        background: url("../../img/hero-bg-mobile.jpg") no-repeat center center;
        background-size: cover;
        width: 327px;
        border-radius: 10px;
    }

    .main__subject {
        width: 279px;
        margin-left: -30px;
        font-size: 40px;
    }

    .main__text {
        width: 279px;
        font-size: 15px;
        margin-left: -30px;
    }

    .main__snippet {
        text-align: center;
    }

    .main__snippet-text {
        width: 286px;
        font-size: 40px;
        line-height: 72px;
        opacity: 0.8;
        text-align: center;
        margin-left: 15px;
    }

    .main-list__item {
        flex-direction: column-reverse;

        &:nth-child(4){
            margin-bottom: 0;
        }
    }

    .main-item__pic {
        margin-left: 227px;
    }
    .main__list{
        width: 375px;
        margin-left: -82%;
        margin-top: 115%;
    }
    .main__content-wrap{
        text-align: center;
    }
    .main-list__title{
        color: #333D4B;
        font-weight: 900;
        text-align: center;
    }
}