.section__container{
    background-color: #2C343E;
    position: relative;
    margin-top: 256px;
    border-radius: 10px;
}.section__wrapp{
    color: #FEFCF7;
    padding-top: 50px;
    padding-left: 85px;
    padding-bottom: 176px;
}
.section__title{
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
}
.section__paragrif{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: $barlow;
    width: 540px;
    opacity: 0.7;
}
.section__img{
    position: absolute;
    right: 85px;
    top: 0;
    margin-top: -88px;
}

@media screen and (max-width: 1280px)
{
    .section__title{
        font-size: 32px;
        line-height: 48px;
        padding-left: 70px;
    }
    .section__paragrif{
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
    .section__wrapp{
        padding-top: 200px;
        padding-bottom: 67px;
    }
    .section__img
    {
        margin-top: -155px;
        left: 63px;
    }
}
@media screen and (max-width: 689px)
{
    .section__title
    {
        font-size: 28px;
        line-height: 28px;
        padding-left: 0;
        text-align: center;
        padding-left: 24px;
    }
    .section
    {
        margin: 0;
        padding: 0;
    }
    .section__paragrif
    {
        font-size: 15px;
        line-height: 25px;
        width: auto;
    }
    .section__container
    {
        padding-top: 0;
    }
    .section__wrapp
    {
        padding: 120px 24px 61px 24px;
        width: auto;
        margin: 0;
    }
    .section__img
    {
        left: 25px;
        top: 70px;
        border-radius: 10px;
        width: 272px;
        height: 156px;
    }
}