.wrapper{
    margin-top: 350px;
}

.wrapper__how{
    color: #83888F;
    font-weight: 900;
    font-size: 24px;
}

.wrapper__intro {
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.wrapper__wrapp {
    width: 350px;
    border: 1px solid #FDD6BA;
    height: 0;
}

.wrapper__span-1 {
    border: 1px solid #0E8784;
    border-radius: 50%;
    display: block;
    width: 31px;
    height: 31px;
}

.wrapper__span-2 {
    border: 1px solid #0E8784;
    border-radius: 50%;
    display: block;
    width: 31px;
    height: 31px;
}

.wrapper__span-3 {
    border: 1px solid #0E8784;
    border-radius: 50%;
    display: block;
    width: 31px;
    height: 31px;

}

.wrapper__list-wrap {
    list-style: none;
    padding-top: 150px;
    margin-left: -40px;
    display: flex;
}

.wrapper__item {
    margin: 0 65px 0 0;
    position: relative;
}

.wrapper__item--item1::before {
    content: '';
    position: absolute;
    background: url("../img/01.svg") no-repeat center center;
    background-size: contain;
    width: 98px;
    height: 73px;
    top: -70px;
}

.wrapper__item--item2::before {
    content: '';
    position: absolute;
    background: url("../img/02.svg") no-repeat center center;
    background-size: contain;
    width: 98px;
    height: 73px;
    top: -70px;
}

.wrapper__item--item3::before {
    content: '';
    position: absolute;
    background: url("../img/03.svg") no-repeat center center;
    background-size: contain;
    width: 98px;
    height: 73px;
    top: -70px;
}

.wrapper__item:last-child {
    margin-left: 0;
}

.wrapper__title {
    font-weight: 900;
    font-size: 32px;
    color: #333D4B;
    line-height: 36px;
}

.wrapper__subtitle {
    color: #333D4B;
    width: 315px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-family: "barlow";
}

.wrapper__link-wrap {
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    padding: 15px 31px;
    background-color: #0E8784;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;

    &:hover {
        text-decoration: underline;
        font-weight: 550;
    }

}

@media screen and (max-width: 1280px) {

    .wrapper__how{
        color: #83888F;
        font-weight: 900;
        font-size: 24px;
    }
    .wrapper-container{
        width: 689px;
    }

    .wrapper__list-wrap{
        margin-left: -50px;
    }
    .wrapper__item{
        margin-right: 10px;
    }
    .wrapper__subtitle {
        width: 223px;
    }
    .wrapper__link-wrap{
        margin-left: -10px;
        margin-top: 15px;
        display:inline-block;
    }
    .wrapper__wrapp{
        width: 200px;
    }
    
}

@media screen and (max-width: 689px) {
    .wrapper{
        margin-top: 0;
        max-width: auto;
    }
    .wrapper__intro{
        display: none;
    }
    .wrapper__how{
        margin-top: 85%;
        font-size: 24px;
        line-height: 32px;
        font-weight: 900;
        color: #83888F;
        margin-left: 85px;
    }
    .wrapper__list-wrap{
        flex-direction: column;
    }
    .wrapper__item{
        padding-bottom: 110px;
        margin: 0;
    }
    .wrapper__title{
        // margin-right: 215px;
        // text-align: center;
        align-items: flex-start;
        margin-left: 50px;
    }
    .wrapper__subtitle{
        text-align: center;
        margin-left: 50px;
        max-width: 100%;
    }
    .wrapper__item--item1::before{
      left: 118px;
    }
    .wrapper__item--item2::before{
      left: 118px;
    }
    .wrapper__item--item3::before{
      left: 118px;
    }
    .wrapper__link-wrap{
        margin-left: 50px;
    }
}

